<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CMAvecSound.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B68A95C1C016C5900201198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B68A9781C016C5900201198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B68A9831C016C5900201198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
